@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Spartan', sans-serif;
}

.hero {
    position: relative;
    height: 55vh;
    width: 100%;
    overflow: hidden;
}

.slider {
    position: relative;
    height: 100%;
    width: 500%;
    display: flex;
}

.slider__image1 {
    height: 100%;
    background: url('./images/mobile-image-hero-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
}
.slider__image2 {
    height: 100%;
    background: url('./images/mobile-image-hero-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    
}
.slider__image3 {
    height: 100%;
    background: url('./images/mobile-image-hero-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
}


.hero__hamburger {
    position: absolute;
    top: 2.5rem;
    left: 1.5rem;
}

.hero__logo {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
/* mobile first toggle*/
.hero__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background: white;
    padding: 2.6rem 1rem 2.6rem 5rem;
    list-style: none;
    font-size: .8rem;
    display: none;
}
/*-------------------*/

.hero__slider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    right: 0;
    width: 8rem;
    height: 3.3rem;
    background: black;
}

#hero__slider-left,
#hero__slider-right {
    width: .7rem;
}

.focus {
    padding: 4rem 2rem;
}

.focus__title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    line-height: 1.9rem;
}

.focus__description,
.about__description {
    font-size: .7rem;
    color: rgb(165, 164, 164);
    line-height: 1.2rem;
    margin-bottom: 2rem;
}

.focus__shop-btn {
    position: relative;
    width: 100%;
    height: 3rem;
    text-align: start;
    font-size: .8rem;
    font-family: 'Spartan';
    letter-spacing: .6rem;
    background: transparent;
    border: none;
}

.focus__shop-btn__arrow {
    font-size: 2rem;
    color: rgb(102, 102, 102);
    position: absolute;
    margin-left: 3rem;
    top: 0;
}

.about__title {
    padding: 4rem 2rem 1rem 2rem;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .2rem;
}

.about__description {
    padding: 0rem 2rem 2rem 2rem;
}

.about__lightimg,
.about__darkimg {
    width: 100%;
}

.attribution {
    font-size: .7rem;
    text-align: center;
    color: black;
    padding: 1rem 0;
    opacity: 0.6
}